body{
    margin: 0px;
    border: 2px none;
    background-color: hsl(240, 61%, 13%);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 9em;
    color: white;
    font-family: 'Franklin Gothic Medium';
}
table{
    font-family: "Orbitron" ,sans-serif;
    padding: 0px;
    color: white;
    width: 50%;
    margin-left: 25%;
    border-left: none;
    border-right: none;
    border-style: none;
}
td{
    text-align: center;
    font-size: 1em;
    background-color: hsl(240, 61%, 13%);
}
tr{
    font-size: 1.5em;
    padding: 5px;
    background-color: hsl(240, 61%, 10%);;
}
img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.left-line {
    width: 15px;  
    height: 60px;        
    background-color: hsl(128, 82%, 37%);
    float: left;
}
.win{
    position: initial;
    border: 2px none;
    border-radius: 100%;
    display: inline-block;
    background-color: hsl(148, 87%, 15%);
    height: 25px;
    width: 25px;
    font-size: 1.05em;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
.draw{
    border: 2px none;
    border-radius: 100%;
    display: inline-block;
    background-color: hsl(180, 9%, 35%);
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 1.05em;
    font-weight: bold;
    font-family: sans-serif;
}
.loss{
    border: 2px none;
    border-radius: 100%;
    display: inline-block;
    background-color: hsl(0, 87%, 41%);
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 1.05em;
    font-weight: bold;
    font-family: sans-serif;
}
#red{
    background-color: hsl(0, 94%, 39%);
}
#orange{
    background-color: hsl(27, 97%, 41%);
}
.wins{
    color: hsl(120, 73%, 34%);
}
.draws{
    color: hsl(0, 3%, 31%);
}
.losses{
    color: hsl(0, 80%, 44%);
}
@media screen and (max-width: 600px) {
    body{
        padding: 0px;
    }
    td{
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
    }
    th{
        font-size: 1em;
        padding: 0px;
        background-color: hsl(240, 61%, 10%);;
    }
    img{
        height: 15px;
        width: 15px;
        vertical-align: middle;
    }
    .left-line {
        position: absolute;
        width: 5px;  
        height: 56px;        
        background-color: hsl(128, 82%, 37%);
        display: inline-block;
        left: 0;
        margin-left: 5px;
    }
    .win{
        border: 2px none;
        border-radius: 100%;
        display: inline-block;
        background-color: hsl(148, 87%, 15%);
        font-size: 0px;
        height: 10px;
        width: 10px;
        font-size: smaller;
        font-weight: bold;
        font-family: sans-serif;
    }
    .draw{
        border: 2px none;
        border-radius: 100%;
        display: inline-block;
        background-color: hsl(180, 9%, 35%);
        font-size: x-small;
        height: 10px;
        width: 10px;
        font-size: 0px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .loss{
        border: 2px none;
        border-radius: 100%;
        display: inline-block;
        background-color: hsl(0, 87%, 41%);
        font-size: 0px;
        height: 10px;
        width: 10px;
        font-weight: bold;
        font-family: sans-serif;
    }
}
#navbar{
    background-color: hsl(69, 100%, 44%);
    height: 75px;
}
li{
    float: left;
    padding: 25px;
    font-size: 25px;
}
ul{
    list-style: none;
}
.navtool{
    text-decoration: none;
    padding: 23px;
    transition: 2s;
    color: beige;
}
.navtool:hover{
    background-color:hsl(69, 100%, 34%);;
}
p{
    margin-left: 5%;
    width: 90%;
    color: hsl(0, 1%, 84%);
    font-size: 2em;
}
a{
    text-decoration: none;
    color: inherit;
}
#bugs{
    width: 30%;
    margin-right: 5%;
    background-color: inherit;
}
footer{
    background-color: hsla(240, 45%, 35%, 0.203);
    color: white;
    bottom: 0%;
    width: 100%;
}
#small{
    width: auto;
    font-size:xx-large
}
